.btn {
    font-family: inherit;
    font-size: 100%;
    padding: 0.5em 1em;
    color: #444; /* rgba not supported (IE 8) */
    color: rgba(0, 0, 0, 0.80); /* rgba supported */
    border: 1px solid #999;  /*IE 6/7/8*/
    border: none rgba(0, 0, 0, 0);  /*IE9 + everything else*/
    background-color: #E6E6E6;
    text-decoration: none;
    border-radius: 2px;
    cursor:pointer;
    transition: all .3s;
}
.btn:hover{
    transform: scale(1.1,1.1);
}
.btn:focus{
    outline: 0;
}
.btn-normal {
    background: #FF4081;
}
.btn-success {
    background: rgb(28, 184, 65); /* this is a green */
}
    
.btn-error {
    background: #3F51B5;
}
.btn-warning {
    background: rgb(223, 117, 20); /* this is an orange */
}
    
.btn-secondary {
    background: rgb(66, 184, 221); /* this is a light blue */
}