table{
    border-collapse: collapse;
    border-spacing: 0;
    empty-cells: show;
    border: 1px solid #cbcbcb;
}
td,th {
    border-left: 1px solid #cbcbcb;/*  inner column border */
    border-width: 0 0 0 1px;
    font-size: inherit;
    margin: 0;
    overflow: visible; /*to make ths where the title is really long work*/
    padding: 0.5em 1em; /* cell padding */
}
td:first-child,
th:first-child {
    border-left-width: 0;
}
table.striped tr:nth-child(2n-1) td{
    background-color: #f2f2f2;
}
table.bordered td {
    border-bottom: 1px solid #cbcbcb;
}
table.bordered tbody > tr:last-child > td {
    border-bottom-width: 0;
}
table.horizontal td,
table.horizontal th {
    border-width: 0 0 1px 0;
    border-bottom: 1px solid #cbcbcb;
}
table.horizontal tbody > tr:last-child > td {
    border-bottom-width: 0;
}