*{
    transition: all .3s; 
}
html{
	height:100%;
}
body{
	height:100%;
    color: #000;
}
hr{
	border-top: 1px solid rgba(0, 0, 0, .1);
	box-shadow(rgba(255, 255, 255, .1) 0 1px 0 inset);
}
input,select{
    color:#000;
}
th{
    background: rgb(61, 79, 93);
    color:#fff;
}
table.main{
    margin-bottom: 1em;
    max-height:70vh;
    max-width:100%;
    overflow:scroll;
}
.maingrid{
	height:100%;
}
.left{
    height:100%;
    background: rgb(61, 79, 93);
    color:#fff;
    overflow-y: scroll;
}
.leftmenu{
    padding-left:1em;
	list-style-type:none;
	line-height:3em;
}
.logo{
    margin: 2em .2em 0 .2em;
    font-family: 'Lobster', cursive;
}
.rabbit:hover{
    animation: hop 1s  infinite;
}
@keyframes hop {
    0% {transform: translate(0px, 0px) rotateZ(0deg)}
    25% {transform: translate(0px, -20px) rotateZ(10deg)}
    50% {transform: translate(0px, 0px) rotateZ(0deg)}
    75% {transform: translate(0px, -10px) rotateZ(10deg)}
    100% {transform: translate(0px, 0px) rotateZ(0deg)}
}
.title{
    line-height:64px;
    vertical-align:top;
    font-size:2.5em;
}
.right{
    margin-left:1em;
}
.hidden{
    display:none;
}
.tglbtn{
    display:none;
    background: rgb(61, 79, 93);
    width:48px;
    height:48px;
    position:fixed;
    left:1em;
    bottom:.5em;
    padding-top:.5em;
    text-align:center;
    border-radius:48px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    z-index:3;
    box-shadow:5px 5px 5px rgba(0,0,0,0.2);
}
.tglcheck{
    display:none;
}
.tglover{
    display:none;
    width:48px;
    height:48px;
    position:fixed;
    left:1em;
    bottom:.5em;
    border-radius:48px;
    z-index:4;
    cursor:pointer;
    opacity:0;
}
.btn-normal,
.btn-success,
.btn-error,
.btn-warning,
.btn-secondary {
    color: #fff;
    border-radius: 4px;
    
}
@media(max-width:1280px){
    .collapsible{
        position:absolute;
        top: 0;
        left: 0;
        -webkit-transform: rotatey(-90deg);
        -ms-transform: rotatey(-90deg));
        transform: rotatey(-90deg);
        width:230px;
        z-index:2;
        opacity:0;
    }
    .content{
        width:100%;
        z-index:1;
    }
    .tglbtn{
        display:block;
    }
    .tglover{
        display:block;
    }
    .tglcheck:checked ~ .content{
        -webkit-transform: translateX(230px);
        -ms-transform: translateX(230px);
        transform: translateX(230px);
    }
    .tglcheck:checked ~ .collapsible{
        transform:none;
        opacity:1;
    }
    .tglcheck:checked ~ .tglbtn{
        background:#9E9E9E;
    }
    .tglcheck:checked ~ .tglbtn object{
        transform: scale(-1, 1);
    }
}