<!DOCTYPE html>
<html lang="ja">
<head>
<meta name="viewport" content="width=device-width,initial-scale=1">
<meta charset="UTF-8" />
<title>家計簿</title>
<link rel="stylesheet" href="css/grid.css">
<link rel="stylesheet" href="css/button.css">
<link rel="stylesheet" href="css/form.css">
<link rel="stylesheet" href="css/table.css">
<link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
<link rel="stylesheet" href="css/top.css">
<script src="https://use.fontawesome.com/7edd816f83.js"></script>
<script src="scripts/db.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.28/vue.min.js"></script>
<script src="scripts/main.js"></script>
</head>
<body>
<div class="grid maingrid">
	<div class="col-2 left" id="leftmenu">
        <div class="logo">
            <object type="image/svg+xml" class="mark" data="img/logo.svg" width="48" height="48">
            </object>
            <span class="title">Kakeibo</span>
        </div>
        <ul class="leftmenu">
        <li>
            <button class="btn btn-normal" v-on:click='isHidden1=!isHidden1'>
                <i class="fa fa-search" aria-hidden="true"></i>
                抽出メニュー
            </button>
            <div v-bind:class='{ hidden:isHidden1 }'>
                <form class="unit">
            <fieldset>
                <label for="soDatest">期間:</label>
                    <input type="date" v-model="soDatest" value="{{ defDatest }}">
                <label for="soDateed">から</label>
                    <input type="date" v-model="soDateed" value="{{ defDateed }}">
                <label for="soShop">店名:</label>
                    <select id="soShop" v-model="soShop">
                        <option value="">選択しない</option>
                        <option v-for="shop in shops" value="{{ shop.value }}">{{ shop.value }}</option>
                    </select>
                <label for="soCategory">分類:</label>
                    <select id="soCategory" v-model="soCategory">
                        <option value="">選択しない</option>
                        <option v-for="category in categories" value="{{ category.value }}">{{ category.value }}</option>
                    </select>
                <label for="soSpecial" class="pure-checkbox">
                    <input id="soSpecial" type="checkbox" v-model="soSpecial">特記を除外する
                </label>
            </fieldset>
            </form>
            </div>
        </li>
        <li>
            <button class="btn btn-normal" v-on:click='isHidden2=!isHidden2'>
                <i class="fa fa-plus" aria-hidden="true"></i>
                項目追加
            </button>
            <div v-bind:class='{ hidden:isHidden2 }'>
                <form class="unit" id="adform">
            <fieldset>
                <label for="adShop">店名:</label>
                    <input type="text" id="adShop" v-model="adShop">
                    <button v-show="adShop" v-on:click.prevent="addShop" class="btn btn-normal">
                        <i class="fa fa-check" aria-hidden="true"></i>
                        追加
                    </button>
                <label for="adCategory">分類:</label>
                    <input type="text" id="adCategory" v-model="adCategory">
                    <button v-show="adCategory" v-on:click.prevent="addCategory" class="btn btn-normal">
                        <i class="fa fa-check" aria-hidden="true"></i>
                        追加
                    </button>
            </fieldset>
            </form>
            </div>
        </li>
        <li>
            <button class="btn btn-normal" v-on:click='isHidden3=!isHidden3'>
                <i class="fa fa-minus" aria-hidden="true"></i>
                項目削除
            </button>
            <div v-bind:class='{ hidden:isHidden3 }'>
                <form class="unit">
            <fieldset>
                <label for="dlShop">店名:</label>
                    <select id="dlShop" v-model="dsval">
                        <option v-for="shop in shops" value="{{ shop.key }}">{{ shop.value }}</option>
                    </select>
                <button class="btn btn-error" v-on:click.prevent="delShop">
                    <i class="fa fa-trash" aria-hidden="true"></i>
                    削除
                </button>
                <label for="dlCategory">分類:</label>
                    <select id="dlCategory" v-model="dcval">
                        <option v-for="category in categories" value="{{ category.key }}">{{ category.value }}</option>
                    </select>
                <button class="btn btn-error" v-on:click.prevent="delCategory">
                    <i class="fa fa-trash" aria-hidden="true"></i>
                    削除
                </button>
            </fieldset>
            </form>
            </div>
        </li>
        </ul>
    </div>
	<div class="col-10" id="columntable">
		<div class="right">
            <table class="main striped">
                <thead>
                    <tr>
                        <th>日付</th>
                        <th>店</th>
                        <th>分類</th>
                        <th>金額</th>
                        <th>特記</th>
                        <th>備考</th>
                        <th>削除</th>
                    </tr>
                </thead>

                <tbody>
                    <form>
                    <tr>
                        <td><input id="inDate" type="date" v-model="inDate" value="{{ defDate }}"></td>
                        <td><select id="inShop"  v-model="inShop">
                                <option value="" selected disabled>店名</option>
                                <option v-for="shop in shops" value="{{ shop.value }}">{{ shop.value }}</option>
                            </select></td>
                        <td><select id="inCategory"  v-model="inCategory">
                                <option value="" selected disabled>分類</option>
                                <option v-for="category in categories" value="{{ category.value }}">{{ category.value }}</option>
                            </select></td>
                        <td><input id="inCost" type="number" placeholder="金額" min="0" v-model="inCost" required></td>
                        <td>
                            <label for="inSpecial" class="pure-checkbox">
                                <input id="inSpecial" type="checkbox"  v-model="inSpecial">特記
                            </label>
                        </td>
                         <td>
                             <textarea id="inNote" v-model="inNote"></textarea>
                        </td>
                        <td><button class="btn btn-normal" v-on:click.prevent="addColumn">
                            <i class="fa fa-check" aria-hidden="true"></i>
                            追加
                        </button></td>
                    </tr>
                    </form>
                    <tr v-for="column in columns">
                        <td>
                            {{ formatDate(column.date) }}
                        </td>
                        <td>
                            {{ column.shop }}
                        </td>
                        <td>
                            {{ column.category }}
                        </td>
                        <td>
                            \{{ formatCurrency(column.cost) }}
                        </td>
                        <td>
                            {{ column.hasSpecial }}
                        </td>
                        <td>
                            {{ column.note }}
                        </td>
                        <td><button class="btn btn-error" v-on:click.prevent="deleteColumn(column.id)">
                            <i class="fa fa-trash" aria-hidden="true"></i>
                            削除
                        </button></td>
                    </tr>
                </tbody>
            </table>
            <div class="grid">
                <div class="col-4">
                    <table class="bordered monthtable">
                        <tr v-for="tmonth in tmonths">
                            <td>{{ tmonth.item }}</td><td>\{{ formatCurrency(tmonth.cost) }}</td>
                        </tr>
                    </table>
                </div>
                <div class="col-4">
                    <table class="bordered shoptable">
                        <tr v-for="tshop in tshops">
                            <td>{{ tshop.item }}</td><td>\{{ formatCurrency(tshop.cost) }}</td>
                        </tr>
                    </table>
                </div>
                <div class="col-4">
                    <table class="bordered categorytable">
                        <tr v-for="tcategory in tcategories">
                            <td>{{ tcategory.item }}</td><td>\{{ formatCurrency(tcategory.cost) }}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
	</div>
</div>
</body>
</html>