html{
	height:100%;
}
body{
	height:100%;
    color: #000;
}
hr{
	border-top: 1px solid rgba(0, 0, 0, .1);
	box-shadow(rgba(255, 255, 255, .1) 0 1px 0 inset);
}
input,select{
    color:#000;
}
th{
    background: rgb(61, 79, 93);
    color:#fff;
}
table.main{
    margin-bottom: 1em;
}
.maingrid{
	height:100%;
}
.left{
    height:100%;
    background: rgb(61, 79, 93);
    color:#fff;
    overflow: scroll;
}
.left::-webkit-scrollbar {
  display: none;
}
.leftmenu{
	list-style-type:none;
	line-height:3em;
}
.leftmenu form{
    margin-left:-1em;
}
.logo{
    margin: 2em .2em 0 .2em;
    font-family: 'Lobster', cursive;
}
.mark:hover{
    animation: hurueru 1s  infinite;
}
@keyframes hurueru {
    0% {transform: translate(0px, 0px) rotateZ(0deg)}
    25% {transform: translate(0px, -20px) rotateZ(10deg)}
    50% {transform: translate(0px, 0px) rotateZ(0deg)}
    75% {transform: translate(0px, -10px) rotateZ(10deg)}
    100% {transform: translate(0px, 0px) rotateZ(0deg)}
}
.title{
    line-height:64px;
    font-size:3em;
}
.right{
    padding-left:1em;
}
.hidden{
    display:none;
}
.button-normal,
.button-success,
.button-error,
.button-warning,
.button-secondary {
    color: #fff;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}
.button-normal {
    background: #FF4081;
}
.button-success {
    background: rgb(28, 184, 65); /* this is a green */
}
    
.button-error {
    background: #3F51B5;
}
.button-warning {
    background: rgb(223, 117, 20); /* this is an orange */
}
    
.button-secondary {
    background: rgb(66, 184, 221); /* this is a light blue */
}